@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a1a;
    color:#00ff00;
}

.container {
    text-align: center;
    background:#333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,255,0,0.5);
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow:0 0 10px #00ff00;
}

.menu {
    margin-bottom: 20px;
}

.menu button {
    display: block;
    width: 100%;
    margin: 10px 0px;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    background: #444;
    color:#00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    text-shadow: 0 0 5px #00ff00;
}

.menu button:hover {
    background: #00ff00;
    color:#1a1a1a
}

